* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.body-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 35%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray;
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cover-image {
    width: 100%;
}

.cover-image img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.dice-img {
    width: 100%;
    text-align: center;
}

.dice-img img {
    width: 30%;
}

.btn {
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

/* CSS button */
.button {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
}

.button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button:main,
.button:focus {
    user-select: auto;
}

.button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button:disabled {
    cursor: auto;
}

.button:active {
    border-width: 4px 0 0;
    background: none;
}

/* END CSS BUTTON EFFECT */

h2 {
    margin-top: 100px;
    color: blue;
}


/* CSS DICE 3D */

#cube .front {
    transform:
        translateZ(100px);
}

#cube .back {
    transform:
        rotateX(-180deg) translateZ(100px);
}

#cube .right {
    transform:
        rotateY(90deg) translateZ(100px);
}

#cube .left {
    transform:
        rotateY(-90deg) translateZ(100px);
}

#cube .top {
    transform:
        rotateX(90deg) translateZ(100px);
}

#cube .bottom {
    transform:
        rotateX(-90deg) translateZ(100px);
}

.container {
    top: 50px;
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
    perspective-origin: 50% 100%;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 3s;
}

#cube:hover {
    cursor: pointer;
}

#cube div {
    background: hsla(0, 0%, 0%, 0.9);
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #9c9c9c;
    text-align: center;
}

.dot {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 15px;
}

.front .dot1 {
    top: 85px;
    left: 85px;
}

.back .dot1 {
    top: 45px;
    left: 45px;
}

.back .dot2 {
    top: 125px;
    left: 125px;
}

.right .dot1 {
    top: 45px;
    left: 45px;
}

.right .dot2 {
    top: 85px;
    left: 85px;
}

.right .dot3 {
    top: 125px;
    left: 125px;
}

.left .dot1 {
    top: 45px;
    left: 45px;
}

.left .dot2 {
    top: 45px;
    left: 125px;
}

.left .dot3 {
    top: 125px;
    left: 45px;
}

.left .dot4 {
    top: 125px;
    left: 125px;
}

.top .dot1 {
    top: 45px;
    left: 45px;
}

.top .dot2 {
    top: 45px;
    left: 125px;
}

.top .dot3 {
    top: 85px;
    left: 85px;
}

.top .dot4 {
    top: 125px;
    left: 45px;
}

.top .dot5 {
    top: 125px;
    left: 125px;
}

.bottom .dot1 {
    top: 45px;
    left: 45px;
}

.bottom .dot2 {
    top: 45px;
    left: 85px;
}

.bottom .dot3 {
    top: 45px;
    left: 125px;
}

.bottom .dot4 {
    top: 125px;
    left: 45px;
}

.bottom .dot5 {
    top: 125px;
    left: 85px;
}

.bottom .dot6 {
    top: 125px;
    left: 125px;
}